<li id="<%= dom_id(task) %>" class="list-group-item border-0 py-2">
  <div class="d-flex justify-content-between align-items-center w-100">
    <span><%= task.name %></span>

    <div class="d-flex align-items-center gap-2">
      <span class="badge bg-light text-dark"><%= l task.expires_at.to_date %></span>

      <%= button_to '', [project, task],
                    method: :delete,
                    class:  'btn btn-close p-0',
                    form:   { data: { turbo_stream: true, turbo_frame: 'projects' } } %>
    </div>
  </div>

  <% children = task.subtasks.to_a.reject(&:expired?) %>
  <% if children.any? %>
    <ul class="list-unstyled ps-3 border-start mt-2">
      <%= render partial: 'tasks/task',
                 collection: children,
                 as: :task,
                 locals: { project: project } %>
    </ul>
  <% end %>
</li>
